* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.profile {
	max-width: 700px;
	margin: auto;
}

.profile__portrait {
	float: left;
	width: 250px;
	margin-right: 40px;
	height: auto;
	border-radius: 50%;
}

body {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-variant: small-caps;
	font-style: italic;
	text-decoration: none;
	line-height: 2;
}

.page-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 20px;
}

.page-header__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 200px;
	flex: 0 1 200px;
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: right;
}

.about_info {
	color: inherit;
	background-color: #99ffff;
	text-align: center;
}

.amsterdam {
	display: block;
	margin: auto;
}

@-webkit-keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

@keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

.sun {
	-webkit-animation: 4s color-change infinite alternate linear;
	animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
	from {
		-webkit-transform: translate(446px, 48px);
		transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		transform: translate(100px, 48px);
	}
}

@keyframes cloud-move {
	from {
		-webkit-transform: translate(446px, 48px);
		transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		transform: translate(100px, 48px);
	}
}

.small-cloud {
	-webkit-animation: 35s cloud-move infinite alternate linear;
	animation: 35s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(0, 50px);
		transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		transform: translate(100px, 48px);
	}
}

@keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(0, 50px);
		transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		transform: translate(100px, 48px);
	}
}

.big-cloud {
	-webkit-animation: 30s cloud-move-reverse infinite alternate linear;
	animation: 30s cloud-move-reverse infinite alternate linear;
}

table {
	display: table;
	border-spacing: 5px;
	text-align: center;
	margin: auto;
}

th {
	border: 4px solid #589bff;
}

form {
	text-align: center;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-right: 50px;
}

h1,
h2,
h3 {
	color: Red;
	background-color: inherit;
	text-align: center;
}

h4 {
	text-decoration: underline;
}

p {
	color: #007267;
	background-color: inherit;
}

.intro {
	color: #2f434b;
	background-color: inherit;
}

h5 {
	text-decoration: underline;
}

p3 {
	color: #007267;
	background-color: inherit;
}

#contact-form {
	color: inherit;
	background-color: #e6ffff;
}

.standard-label {
	color: #007267;
	background-color: inherit;
}

a {
	color: #2f434b;
	background-color: inherit;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

a:visited {
	/* visited link */
	color: #007267;
	background-color: inherit;
}

a:hover,
a:focus {
	/* No underlining when hovering over a link */
	text-decoration: none;
}

a:active {
	/* selected link */
	color: #2f434b;
	background-color: inherit;
}

button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: #99ffff;
	color: #007267;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.2s opacity;
	-o-transition: 0.2s opacity;
	transition: 0.2s opacity;
	margin: 10px 5px;
}

button:hover,
button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.button__secondary {
	background-color: #e6ffff;
	color: #2f434b;
}


/*Grid fallback. Add also width= auto to grid__item*/

.grid__item {
	display: inline-block;
	width: 33%;
}

.grid {
	display: -ms-grid;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.grid__item {
	color: inherit;
	background-color: black;
	padding: 20px;
	width: auto;
}

footer {
	font-size: 24px;
	text-align: center;
	line-height: 2;
}

.page-footer {
	margin-top: 100px;
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
}

@media all and (min-width: 600px) and (max-width: 900px) {
	h1 {
		font-size: 22px;
	}
	.page_header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
